In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
xls = pd.ExcelFile('Supplier Lead Times.xlsx')
default_lead = pd.read_excel(xls, 'Default Lead')
stock_lead1 = pd.read_excel(xls, 'Stock Lead')
stock_lead2 = pd.read_excel(xls, 'Sheet4')

In [3]:
default_lead.shape

(61, 3)

In [4]:
stock_lead1.shape

(490499, 10)

In [5]:
stock_lead2.shape

(528518, 10)

In [6]:
# check and drop duplicates
default_lead.drop_duplicates(inplace = True)

In [7]:
stock_lead1.duplicated().value_counts()

False    490499
dtype: int64

In [8]:
stock_lead2.duplicated().value_counts()

False    528518
dtype: int64

In [9]:
default_lead.head()

  Supplier LoadingPort  TotalLeadTime
0  JADD010      NINGBO            105
1  JBEN020      NINGBO            120
2  JBRT010      NINGBO            120
3  JCDA010      NINGBO             90
4  JRCC010         NaN             30

In [10]:
stock_lead1.head()

,StockCode,Supplier,LoadingPort,DestinationPort,Warehouse,ToSupplierDays,FactoryDeliveryDays,VesselDays,ToWarehouseDays,TotalLeadTime
0,.K6RTC,JTOR020,NINGBO,CAPE TOWN,C2,1,90,33,2,126
1,.K6RTC,JTOR020,NINGBO,DURBAN,B3,1,90,24,5,120
2,.K6RTC,JTOR020,NINGBO,DURBAN,CW,1,90,24,5,120
3,.K6RTC,JTOR020,NINGBO,DURBAN,D1,1,90,24,4,119
4,.K6RTC,JTOR020,NINGBO,DURBAN,J1,1,90,24,5,120

In [11]:
stock_lead2.head()

,StockCode,Supplier,LoadingPort,DestinationPort,Warehouse,ToSupplierDays,FactoryDeliveryDays,VesselDays,ToWarehouseDays,TotalLeadTime
0,HD0700FD02,JHON010,KAOHSIUNG,CAPE TOWN,C2,2,45,29,2,78
1,HD0700FD02,JHON010,KAOHSIUNG,DURBAN,B3,2,45,24,5,76
2,HD0700FD02,JHON010,KAOHSIUNG,DURBAN,CW,2,45,24,5,76
3,HD0700FD02,JHON010,KAOHSIUNG,DURBAN,D1,2,45,24,4,75
4,HD0700FD02,JHON010,KAOHSIUNG,DURBAN,J1,2,45,24,5,76

In [12]:
stock_lead1.Warehouse.unique()

array(['C2', 'B3', 'CW', 'D1', 'J1', 'J2', 'J3', 'L2', 'N1', 'P2', 'E1',
       'EL', 'G1', 'L1'], dtype=object)

In [13]:
stock_lead2.Warehouse.unique()

array(['C2', 'B3', 'CW', 'D1', 'J1', 'J2', 'J3', 'L2', 'N1', 'P2', 'E1',
       'EL', 'G1', 'L1'], dtype=object)

In [14]:
# NO data for J0, A1 warehouses

In [15]:
# sperate data tables for different warehouses

In [16]:
C2_stock_lead1 = stock_lead1[stock_lead1.Warehouse == 'C2']
C2_stock_lead2 = stock_lead2[stock_lead2.Warehouse == 'C2']

In [17]:
C2_stock_lead = pd.concat([C2_stock_lead1,C2_stock_lead2]).reset_index(drop=True)

In [18]:
C2_stock_lead.shape

(85711, 10)

In [19]:
J1_stock_lead1 = stock_lead1[stock_lead1.Warehouse == 'J1']
J1_stock_lead2 = stock_lead2[stock_lead2.Warehouse == 'J1']

In [20]:
J1_stock_lead = pd.concat([J1_stock_lead1,J1_stock_lead2]).reset_index(drop=True)

In [21]:
J1_stock_lead.shape

(102783, 10)

In [22]:
J2_stock_lead1 = stock_lead1[stock_lead1.Warehouse == 'J2']
J2_stock_lead2 = stock_lead2[stock_lead2.Warehouse == 'J2']

In [23]:
J2_stock_lead = pd.concat([J2_stock_lead1,J2_stock_lead2]).reset_index(drop=True)

In [24]:
J2_stock_lead.shape

(102783, 10)

In [25]:
J3_stock_lead1 = stock_lead1[stock_lead1.Warehouse == 'J3']
J3_stock_lead2 = stock_lead2[stock_lead2.Warehouse == 'J3']

In [26]:
J3_stock_lead = pd.concat([J3_stock_lead1,J3_stock_lead2]).reset_index(drop=True)

In [27]:
J3_stock_lead.shape

(102783, 10)

# C2

In [28]:
C2_sales = pd.read_excel('sale_movements/sales_movements_C2.xlsx')

In [29]:
C2_sales.duplicated().sum()

0

In [31]:
C2_sales['EntryDate'] = pd.to_datetime(C2_sales['EntryDate'])

In [32]:
# only keeping StockCode and TotalLeadTime in lead time data

C2_stock_lead =C2_stock_lead[['StockCode','TotalLeadTime']].reset_index(drop=True)

In [33]:
C2_sales.shape

(64926, 21)

In [34]:
C2_stock_lead.shape

(85711, 2)

In [35]:
C2_stock_lead.head()

        StockCode  TotalLeadTime
0          .K6RTC            126
1           .K6TC            126
2           .K7TC            126
3  00-212-1923L-1            125
4  00-212-1923L-1            125

In [36]:
# for each unique stock code, calculate the average TotalLeadTime and maximum TotalLeadTime

In [37]:
C2_mean = C2_stock_lead.groupby('StockCode')['TotalLeadTime'].mean()

In [38]:
C2_max = C2_stock_lead.groupby('StockCode')['TotalLeadTime'].max()

In [39]:
C2_stock_lead_meanmax = pd.concat([C2_mean,C2_max],axis = 1).reset_index()
C2_stock_lead_meanmax.columns = ['StockCode','MeanTotalLeadTime','MaxTotalLeadTime']

In [40]:
C2_stock_lead_meanmax.head()

        StockCode  MeanTotalLeadTime  MaxTotalLeadTime
0          .K6RTC              126.0               126
1           .K6TC              126.0               126
2           .K7TC              126.0               126
3  00-212-1923L-1              125.0               125
4  00-212-1923R-1              125.0               125

In [41]:
C2_stock_lead_meanmax.shape

(41138, 3)

In [42]:
C2_sales_lead_time = C2_sales.merge(C2_stock_lead_meanmax,on = 'StockCode',how = 'left')

In [43]:
C2_sales_lead_time[C2_sales_lead_time.MeanTotalLeadTime < C2_sales_lead_time.MaxTotalLeadTime].shape

(24835, 23)

In [44]:
C2_sales_lead_time.head()

,StockCode,Warehouse,TrnYear,TrnMonth,EntryDate,TrnTime,MovementType,TrnQty,TrnValue,UnitCost,SalesOrder,Invoice,DocType,Customer,CostValue,Branch,Salesperson,SalesBin,CustomerPoNumber,ProductClass,DateInfoPulled,MeanTotalLeadTime,MaxTotalLeadTime
0,231-1952R-AE,C2,2017,8,2016-10-11,10002386,S,1,1156.0,551.52321,OC10043213,IC10038432,I,CSTA200,551.52,C1,C29,C13B04,22150,TLR,2019-10-11,125.0,125.0
1,AF50001,C2,2017,8,2016-10-11,10015142,S,1,33.0,19.89982,OC10043182,IC10038435,I,CL&Z010,19.90,C1,C09,A14A10,MR.LEE,ANT,2019-10-11,10.0,10.0
2,RDTA0080,C2,2017,8,2016-10-11,10015206,S,1,471.0,390.23685,OC10043182,IC10038435,I,CL&Z010,390.24,C1,C09,BBKC01,MR.LEE,RD,2019-10-11,94.0,99.0
3,BD616,C2,2017,8,2016-10-11,10021666,S,3,255.0,77.98454,OC10043192,IC10038436,I,CDJW010,233.95,C1,C24,A06B08,DEAN,BDDF,2019-10-11,114.0,114.0
4,BD518,C2,2017,8,2016-10-11,10021737,S,3,264.0,81.50125,OC10043192,IC10038436,I,CDJW010,244.50,C1,C24,A06B05,DEAN,BDDF,2019-10-11,114.0,114.0

In [45]:
# positive TrnQty - invoice

C2_sales_lead_time[C2_sales_lead_time.TrnQty > 0].shape

(59484, 23)

In [48]:
C2_TrnQty_sum = C2_sales_lead_time[C2_sales_lead_time.TrnQty > 0].groupby('StockCode')['TrnQty'].sum()

In [49]:
C2_TrnQty_timerange = C2_sales_lead_time[C2_sales_lead_time.TrnQty > 0].groupby(
    'StockCode')['EntryDate'].apply(lambda x: x.iloc[-1] - x.iloc[0])

In [50]:
C2_TrnQty_max = C2_sales_lead_time[C2_sales_lead_time.TrnQty > 0].groupby('StockCode')['TrnQty'].max()

In [51]:
C2_stock_TrnQty_meanmax = pd.concat([C2_TrnQty_sum,C2_TrnQty_timerange,C2_TrnQty_max],axis = 1).reset_index()
C2_stock_TrnQty_meanmax.columns = ['StockCode','SumTrnQty','timerange','MaxTrnQty']

In [55]:
C2_stock_TrnQty_meanmax.dtypes

StockCode             object
SumTrnQty              int64
timerange    timedelta64[ns]
MaxTrnQty              int64
dtype: object

In [58]:
C2_stock_TrnQty_meanmax.timerange = C2_stock_TrnQty_meanmax.timerange.dt.days

In [59]:
def calc_mean(df):
    if df['timerange'] == 0:
        df['MeanTrnQty'] = df['SumTrnQty']
    else:
        df['MeanTrnQty'] = df['SumTrnQty'] / df['timerange']

In [61]:
C2_stock_TrnQty_meanmax['MeanTrnQty'] = C2_stock_TrnQty_meanmax['SumTrnQty'] / C2_stock_TrnQty_meanmax['timerange']

In [64]:
C2_stock_TrnQty_meanmax.loc[C2_stock_TrnQty_meanmax['MeanTrnQty'] == np.inf,'MeanTrnQty'] = C2_stock_TrnQty_meanmax.SumTrnQty

In [66]:
C2_stock_TrnQty_meanmax.shape

(10544, 5)

In [67]:
C2_TrnQty_leadtime = C2_stock_TrnQty_meanmax.merge(C2_stock_lead_meanmax, on='StockCode',how='left')

In [68]:
C2_TrnQty_leadtime.head()

,StockCode,SumTrnQty,timerange,MaxTrnQty,MeanTrnQty,MeanTotalLeadTime,MaxTotalLeadTime
0,.K6TC,61,137,10,0.445255,126.0,126.0
1,00-212-1957L-E,10,72,4,0.138889,125.0,125.0
2,00-212-1960L-E,12,69,3,0.173913,125.0,125.0
3,00-212-1960R-E,16,69,5,0.231884,125.0,125.0
4,00-213-1910L-E,170,126,28,1.349206,125.0,125.0

In [69]:
# 1969 entries cannot find matching stock code in C2 Stock Lead data
# need to check their supplier and find the matching supplier's default lead time

C2_TrnQty_leadtime.MeanTotalLeadTime.isnull().value_counts()

False    8575
True     1969
Name: MeanTotalLeadTime, dtype: int64

In [70]:
C2_TrnQty_leadtime[C2_TrnQty_leadtime.MeanTotalLeadTime < C2_TrnQty_leadtime.MaxTotalLeadTime].shape

(3540, 7)

In [71]:
C2_TrnQty_leadtime[C2_TrnQty_leadtime.MeanTrnQty < C2_TrnQty_leadtime.MaxTrnQty].shape

(6212, 7)

In [72]:
C2_TrnQty_leadtime[C2_TrnQty_leadtime.MeanTrnQty * C2_TrnQty_leadtime.MeanTotalLeadTime
                   < C2_TrnQty_leadtime.MaxTrnQty * C2_TrnQty_leadtime.MaxTotalLeadTime].shape

(6519, 7)

In [73]:
C2_TrnQty_leadtime['BufferStock'] = (C2_TrnQty_leadtime.MaxTrnQty * C2_TrnQty_leadtime.MaxTotalLeadTime) - (
    C2_TrnQty_leadtime.MeanTrnQty * C2_TrnQty_leadtime.MeanTotalLeadTime)

In [74]:
C2_TrnQty_leadtime.shape

(10544, 8)

In [75]:
C2_TrnQty_leadtime.head()

,StockCode,SumTrnQty,timerange,MaxTrnQty,MeanTrnQty,MeanTotalLeadTime,MaxTotalLeadTime,BufferStock
0,.K6TC,61,137,10,0.445255,126.0,126.0,1203.897810
1,00-212-1957L-E,10,72,4,0.138889,125.0,125.0,482.638889
2,00-212-1960L-E,12,69,3,0.173913,125.0,125.0,353.260870
3,00-212-1960R-E,16,69,5,0.231884,125.0,125.0,596.014493
4,00-213-1910L-E,170,126,28,1.349206,125.0,125.0,3331.349206

In [76]:
C2_TrnQty_leadtime.BufferStock.min()

-252.0

In [77]:
C2_TrnQty_leadtime.BufferStock.max()

16768.59813084112

In [78]:
C2_TrnQty_leadtime.BufferStock.quantile(0.25)

1.5

In [79]:
C2_TrnQty_leadtime.BufferStock.median()

90.09

In [80]:
C2_TrnQty_leadtime.BufferStock.quantile(0.75)

189.43830275229357

In [ ]:
# a lot of stocks have small order history (pickcounts) 
# so the same max and mean value for TrnQty and leadtime for these stocks are about the same
# the bufferstock calculated for these stocks are unresonably small and thus might be biased

In [81]:
C2_TrnQty_leadtime.sort_values('BufferStock',ascending = False).head(10)

,StockCode,SumTrnQty,timerange,MaxTrnQty,MeanTrnQty,MeanTotalLeadTime,MaxTotalLeadTime,BufferStock
82,12342PROQC1,4392,107,600,41.046729,30.0,30.0,16768.598131
119,12972PROQC1,4115,134,500,30.708955,30.0,30.0,14078.731343
909,3006160,2258,62,500,36.419355,30.0,30.0,13907.419355
5066,HUFD0210,112,86,74,1.302326,133.5,186.0,13590.139535
156,212-11B9L-RD-E2,383,138,100,2.775362,125.0,125.0,12153.079710
910,3009260,910,55,390,16.545455,30.0,30.0,11203.636364
2389,BD518,962,136,100,7.073529,114.0,114.0,10593.617647
3768,CVTO1010,1428,140,100,10.200000,93.5,96.0,8646.300000
5070,HUMZ0040,182,140,40,1.300000,133.5,186.0,7266.450000
1399,442-1945R-UE,292,139,50,2.100719,125.0,125.0,5987.410072

In [ ]:
# find the pick counts for each StockCode and merge them with the above table

In [82]:
pick_count = C2_sales[['StockCode','Warehouse']].groupby('StockCode',as_index = False).count().rename(
    {'Warehouse':'PickCounts'},axis = 1)

In [83]:
C2_TrnQty_leadtime = C2_TrnQty_leadtime.merge(pick_count, on='StockCode',how='left')

In [84]:
# the stockcodes that have large PickCounts (number of orders) 
# generally have a reasonal bufferstock

In [89]:
(C2_TrnQty_leadtime.sort_values('PickCounts',ascending = False).dropna(
    how='any').head(200).BufferStock > 70).value_counts()

True    200
Name: BufferStock, dtype: int64

In [90]:
C2_TrnQty_leadtime.sort_values('PickCounts',ascending = False).head(10)

,StockCode,SumTrnQty,timerange,MaxTrnQty,MeanTrnQty,MeanTotalLeadTime,MaxTotalLeadTime,BufferStock,PickCounts
6705,RDTA0080,765,140,50,5.464286,94.000000,99.0,4436.357143,309
3770,CVTO1010ZZ,1290,140,50,9.214286,99.333333,111.0,4634.714286,209
6790,RDVW0010,497,140,50,3.550000,91.500000,96.0,4475.175000,203
3768,CVTO1010,1428,140,100,10.200000,93.500000,96.0,8646.300000,183
2503,BETAPEN,833,140,120,5.950000,NaN,NaN,NaN,178
3827,CVVW1001,1048,137,50,7.649635,93.500000,96.0,4084.759124,177
2502,BETA1527,798,140,120,5.700000,NaN,NaN,NaN,173
3828,CVVW1001ZZ,763,138,50,5.528986,99.333333,111.0,5000.787440,172
10017,WS390064-GG-M,170,140,5,1.214286,105.000000,108.0,412.500000,151
6669,RDOP0311,178,140,8,1.271429,94.000000,99.0,672.485714,134

In [91]:
C2_TrnQty_leadtime[(C2_TrnQty_leadtime.PickCounts > 5) & (C2_TrnQty_leadtime.BufferStock.notnull())].shape

(2540, 9)

In [92]:
C2_TrnQty_leadtime[(C2_TrnQty_leadtime.PickCounts > 5) & (C2_TrnQty_leadtime.BufferStock > 50)].shape

(2525, 9)